@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right.css");

:root {
  /*DEFAULT FONT SIZES*/
  --h1: 2.074rem;
  --h2: 1.728rem;
  --h3: 1.44rem;
  --h4: 1.2rem;

  /*DEFAULT COLOURS*/
  --default-dark-color: #212121;
  --default-light-color: #e9fff9;
  --light-blue-accent-color: #9ed8db;
  --mid-blue-accent-color: #467599;
  --dark-blue-accent-color: #1d3354;
  --red-accent-color: #d64045;

  /*DEFAULT HOVER COLOURS*/
  --hover-default-dark-color: #1e1e1e;
  --hover-default-light-color: #c6d3ce;
  --hover-light-blue-accent-color: #aee7ea;
  --hover-mid-blue-accent-color: #5183a9;
  --hover-dark-blue-accent-color: #28406b;
  --hover-red-accent-color: #de5157;

  --default-container-border-radius: 1rem;
  --default-button-border-radius: 5px;
  --default-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.13);
  --open-sans-font: "Open Sans", sans-serif;
}

/*------------------DEFAULT STYLES------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans-font);
  color: var(--default-light-color);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

body {
  overflow-y: scroll;
}

#listing-calculator-all {
  margin: 0 auto;
  width: 65%;
}

button {
  padding: 0.3rem 1rem;
  min-width: 8rem;
  border: none;
  border-radius: var(--default-button-border-radius);
  background: rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
}

button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
}

button:active {
  background: rgba(255, 255, 255, 0.1);
}

main {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-gap: 1rem;
}

#cost-price-calc-container,
#third-party-price-calc-container,
#vat-calc-container,
#percentage-calc-container {
  border-radius: var(--default-container-border-radius);
  box-shadow: var(--default-box-shadow);
  padding: 1.5rem 2.5rem;
  position: relative;
}

.background-blur {
  position: absolute;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background: rgba(27, 101, 131, 0.68);
  bottom: 0;
  right: 0;
  z-index: 1;
  filter: blur(100px);
}

input {
  border-radius: var(--default-button-border-radius);
  border: none;
  background: #5b5b5b;
  color: var(--default-light-color);
  font-size: var(--h4);
}

h2 {
  margin-bottom: 1rem;
}

.results-display {
  background: var(--default-light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 4rem;
  border-radius: var(--default-button-border-radius);
  /*margin-bottom: 1rem;*/
}

.results-display h3 {
  font-size: var(--h3);
}

.results-display h3,
.results-display p {
  color: var(--dark-blue-accent-color);
  text-align: end;
}

.calculate-button {
  background: #68b668;
  height: 100%;
  font-size: var(--h4);

  &:hover {
    background: #71bd71;
  }

  &:active {
    background: #68b668;
  }
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}

/*------------------HEADER SECTION------------------*/

header {
  background: var(--default-light-color);
  padding: 1rem;
  border-radius: var(--default-container-border-radius);
  box-shadow: var(--default-box-shadow);
  margin: 1rem 0;

  & p {
    color: var(--default-dark-color);
    font-size: 0.8rem;
  }
}

#title-and-version-info h1 {
  font-size: var(--h1);
}
#title-and-version-info p {
  font-size: 0.8rem;
}

#title-and-version-info h1,
#title-and-version-info p {
  color: var(--default-dark-color);
}

.vat-input-box {
  width: 2rem;
  height: fit-content;
  background: #d5d5d5;
  font-size: 0.8rem;
  text-align: center;
  color: var(--default-dark-color);
  font-weight: 600;
}

/*------------------COST PRICE CALCULATOR SECTION------------------*/

/*---USER INPUTS---*/

#cost-price-calc-container {
  background: var(--default-dark-color);
  grid-column: span 2;
  grid-row: span 3;

  > div {
    margin-bottom: 1rem;
  }
}

#cost-price-input-section,
#extra-charge-packsize-section {
  display: flex;
  gap: 2rem;
  align-items: end;
  position: relative;
  z-index: 2;
  /*justify-content: space-between;*/
}

.input-block input {
  width: 100%;
  padding: 0.2rem 0.5rem;
}

/*---MORE PRICES---*/

.more-prices-button {
  height: fit-content;
  margin: 0;
  font-size: 1rem;
  padding: 0.4rem 0;
}

.more-prices-button.active {
  background: var(--mid-blue-accent-color);
  &:hover {
    background: var(--hover-mid-blue-accent-color);
  }

  &:active {
    background: var(--mid-blue-accent-color);
  }
}

.more-prices-container {
  display: none;
}

.more-prices-container.active {
  display: block;
}

.more-prices-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;

  > div {
    display: flex;
    gap: 4.4rem;
  }

  & h4 {
    color: var(--default-light-color);
    font-weight: 400;
    font-size: 1rem;
  }
}

.add-extra-price-button {
  background: var(--light-blue-accent-color);
  color: var(--default-dark-color);

  &:hover {
    background: var(--hover-light-blue-accent-color);
  }

  &:active {
    background: var(--light-blue-accent-color);
  }
}

.more-price-block {
  display: flex;
  gap: 1rem;

  & input {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
  }

  & .remove-button {
    background: var(--red-accent-color);
    text-align: center;
    font-size: 0.8rem;
    height: 100%;
    min-width: 0;
    width: fit-content;
  }
}

.remove-button:hover {
  background: var(--hover-red-accent-color);
}
.remove-button:active {
  background: var(--red-accent-color);
}

.price,
.quantity {
  width: 7rem;
}

/*---COURIER SELECTION MENU---*/

#courier-selection-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.courier-btn {
  display: block;
  padding: 0.5rem;
}

/*---COURIER BUTTON COLOURS---*/
.evri-btn {
  background: rgba(0, 123, 196, 0.4);
  &:hover {
    background: rgba(0, 123, 196, 0.6);
  }
  &:active {
    background: rgba(0, 123, 196, 0.4);
  }
}
.pf-btn {
  background: rgba(160, 0, 0, 0.4);
  &:hover {
    background: rgba(160, 0, 0, 0.6);
  }
  &:active {
    background: rgba(160, 0, 0, 0.4);
  }
}
.dpd-btn {
  background: rgba(220, 0, 50, 0.4);
  &:hover {
    background: rgba(220, 0, 50, 0.6);
  }
  &:active {
    background: rgba(220, 0, 50, 0.4);
  }
}
.std-48-btn,
.std-24-btn,
.rm-btn {
  background: rgba(220, 50, 50, 0.4);
  &:hover {
    background: rgba(220, 50, 50, 0.6);
  }
  &:active {
    background: rgba(220, 50, 50, 0.4);
  }
}

.menu-indicator-container {
  position: relative;

  & button {
    width: 100%;
  }
}

.indicator-centre {
  position: absolute;
  top: 17%;
  right: 5%;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-in-out;
}

.indicator-centre.active {
  transform: rotate(90deg);
}

.courier-menu,
.rm48-services-container,
.rm24-services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5rem;
}

.rm48-services-container,
.rm24-services-container {
  position: relative;
  gap: 0.5rem;
  grid-column: 1 / 4;
}

.indicator-bottom {
  position: absolute;
  bottom: 0;
  right: 5%;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-in-out;
}

.rm24-standard-button:hover .indicator-bottom,
.rm48-standard-button:hover .indicator-bottom {
  right: 0;
}

.rm24-standard-button,
.rm48-standard-button {
  position: relative;
}

.rm24-standard-button button,
.rm48-standard-button button {
  width: 100%;
}

.rm48-weight-brackets,
.rm24-weight-brackets {
  position: absolute;
  top: 0;
  left: 100%;
  background: var(--red-accent-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in-out;
}

.rm48-standard-button:hover .rm48-weight-brackets,
.rm24-standard-button:hover .rm24-weight-brackets {
  opacity: 1;
  pointer-events: all;
}

.rm24-services-container,
.rm48-services-container {
  display: none;
}

.rm24-services-container.active,
.rm48-services-container.active {
  display: grid;
}

/*---COURIER RESULTS---*/

.courier-result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border: 2px solid var(--default-light-color);
  padding: 1rem 2rem;
  border-radius: var(--default-button-border-radius);
  height: 6rem;

  & h3 {
    color: var(--default-light-color);
  }
}

.courier-result {
  min-width: 30%;
  max-width: 30%;
  padding: 0.2rem 0.5rem;
}

/*------------------THIRD PARTY CALCULATOR SECTION------------------*/

#third-party-price-calc-container {
  background: var(--default-dark-color);
  grid-column: span 2;
  grid-row: span 2;
}

/*------------------VAT CALCULATOR SECTION------------------*/

#vat-calc-container {
  grid-column: span 1;
}
/*------------------PERCENT CALCULATOR SECTION------------------*/

#percentage-calc-container {
  grid-column: span 1;
}
