@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right.css");

:root {
  /*DEFAULT FONT SIZES*/
  --h1: 2.074rem;
  --h2: 1.728rem;
  --h3: 1.44rem;
  --h4: 1.2rem;

  /*DEFAULT COLOURS*/
  --default-dark-color: #212121;
  --default-light-color: rgb(233, 255, 249);
  --light-blue-accent-color: #82d7ea;
  --mid-blue-accent-color: #467599;
  --dark-blue-accent-color: #1d232c;
  --red-accent-color: #d64045;

  /*DEFAULT HOVER COLOURS*/
  --hover-default-dark-color: #1e1e1e;
  --hover-default-light-color: #c6d3ce;
  --hover-light-blue-accent-color: #98dfe7;
  --hover-mid-blue-accent-color: #5183a9;
  --hover-dark-blue-accent-color: #28406b;
  --hover-red-accent-color: #de5157;

  --default-container-border-radius: 0.5rem;
  --default-button-border-radius: 5px;
  --default-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  --open-sans-font: "Open Sans", sans-serif;
  --settings-height: 100%;
}

/*------------------DEFAULT STYLES------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans-font);
  color: var(--default-light-color);
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

body {
  overflow-y: scroll;
  background: #efefef;
}

#listing-calculator-all {
  margin: 0 auto;
  width: 75%;
}

button {
  padding: 0.3rem 1rem;
  min-width: 8rem;
  border: none;
  border-radius: var(--default-button-border-radius);
  background: rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
}

button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
}

button:active {
  background: rgba(255, 255, 255, 0.1);
}

main {
  display: flex;
  gap: 1rem;
}

#cost-price-calc-container {
  width: 45%;
}

#third-party-and-tools-section {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 1rem;
}

#cost-price-calc-container,
#third-party-price-calc-container {
  border-radius: var(--default-container-border-radius);
  box-shadow: var(--default-box-shadow);
  padding: 1rem 2.5rem;
  position: relative;
}

#vat-calc-container,
#percentage-calc-container {
  border-radius: var(--default-container-border-radius);
  box-shadow: var(--default-box-shadow);
  padding: 1rem;
  position: relative;
}

input {
  border-radius: var(--default-button-border-radius);
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: var(--default-light-color);
  font-size: var(--h4);
}

h2 {
  margin-bottom: 1rem;
}

.results-display {
  background: rgba(233, 255, 249, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 4rem;
  border-radius: var(--default-button-border-radius);
  margin-bottom: 1rem;
}

.results-display h3 {
  font-size: var(--h3);
}

.results-display h3,
.results-display p {
  color: var(--dark-blue-accent-color);
  text-align: end;
}

.calculate-button {
  background: #68b668;
  height: 100%;
  font-size: var(--h4);

  &:hover {
    background: #71bd71;
  }

  &:active {
    background: #68b668;
  }
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}

/*------------------HEADER SECTION------------------*/

header {
  background: var(--default-light-color);
  position: relative;
  padding: 1rem;
  border-radius: var(--default-container-border-radius);
  box-shadow: var(--default-box-shadow);
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 2rem;

  & p {
    color: var(--default-dark-color);
    font-size: 0.8rem;
  }
}

#title-and-version-info h1 {
  font-size: var(--h1);
}
#title-and-version-info p {
  font-size: 0.8rem;
}

#title-and-version-info h1,
#title-and-version-info p {
  color: var(--default-dark-color);
}

.info-button {
  border: 2px solid var(--mid-blue-accent-color);
  background: #efefef;
  color: var(--default-dark-color);

  &:hover {
    background: #d6dadc;
  }

  &:active {
    background: #efefef;
  }
}

.info-button.active {
  background: var(--mid-blue-accent-color);
  color: var(--default-light-color);
}

.reset-button{
  background: var(--red-accent-color);
  border: 2px solid var(--hover-red-accent-color);

  &:hover {
    background: var(--hover-red-accent-color);
  }

  &:active {
    background: var(--red-accent-color);
  }
}

/*------------------COST PRICE CALCULATOR SECTION------------------*/

/*---USER INPUTS---*/

#cost-price-calc-container {
  background: var(--default-dark-color);
}

#input-section {
  position: relative;
  z-index: 3;
}

#cost-price-input-section,
#extra-charge-packsize-section {
  display: flex;
  gap: 2rem;
  align-items: end;
  position: relative;

}

.input-block input {
  width: 100%;
  padding: 0.2rem 0.5rem;
}

/*---MORE PRICES---*/

.more-prices-button {
  height: fit-content;
  margin: 0;
  font-size: 0.9rem;
  padding: 0.4rem 0.5rem;

  /*border: 1px solid white;*/
}

.more-prices-container {
  display: none;
}

.more-prices-container.active {
  display: block;
}

.more-prices-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;

  > div {
    display: flex;
    gap: 4.4rem;
  }

  & h4 {
    color: var(--default-light-color);
    font-weight: 400;
    font-size: 1rem;
  }
}

.add-extra-price-button {
  background: var(--light-blue-accent-color);
  color: var(--default-dark-color);

  &:hover {
    background: var(--hover-light-blue-accent-color);
  }

  &:active {
    background: var(--light-blue-accent-color);
  }
}

.more-price-block {
  display: flex;
  gap: 1rem;

  & input {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
  }

  & .remove-button {
    background: var(--red-accent-color);
    text-align: center;
    font-size: 0.8rem;
    height: 100%;
    min-width: 0;
    width: fit-content;
  }
}

.remove-button:hover {
  background: var(--hover-red-accent-color);
}
.remove-button:active {
  background: var(--red-accent-color);
}

.price,
.quantity {
  width: 7rem;
}

/*---COURIER SELECTION MENU---*/

#courier-selection-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.courier-btn {
  display: block;
  padding: 0.5rem;
}

/*---COURIER BUTTON COLOURS---*/
.evri-btn {
  background: rgba(0, 123, 196, 0.4);
  &:hover {
    background: rgba(0, 123, 196, 0.6);
  }
  &:active {
    background: rgba(0, 123, 196, 0.4);
  }
}

.pf-btn {
  background: rgba(183, 17, 17, 0.5);
  &:hover {
    background: rgba(183, 26, 26, 0.6);
  }
  &:active {
    background: rgba(183, 17, 17, 0.5);
  }
}

.dpd-btn {
  background: rgba(220, 0, 50, 0.4);
  &:hover {
    background: rgba(220, 0, 50, 0.6);
  }
  &:active {
    background: rgba(220, 0, 50, 0.4);
  }
}

.std-48-btn,
.std-24-btn,
.rm-btn {
  background: rgba(220, 50, 50, 0.4);
  &:hover {
    background: rgba(220, 50, 50, 0.6);
  }
  &:active {
    background: rgba(220, 50, 50, 0.4);
  }
}

.menu-indicator-container {
  position: relative;

  & button {
    width: 100%;
  }
}

.indicator-centre {
  position: absolute;
  top: 17%;
  right: 5%;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-in-out;
}

.indicator-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.2s ease-in-out;
}

.indicator-centre.active,
.rm24-standard-button:hover .indicator-bottom,
.rm48-standard-button:hover .indicator-bottom {
  transform: rotate(90deg);
}

.courier-menu,
.rm48-services-container,
.rm24-services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5rem;
}

.rm48-services-container,
.rm24-services-container {
  position: relative;
  gap: 0.5rem;
  grid-column: 1 / 4;
}

.rm24-standard-button,
.rm48-standard-button {
  position: relative;
}

.rm24-standard-button button,
.rm48-standard-button button {
  width: 100%;
}

.rm48-weight-brackets,
.rm24-weight-brackets {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: -1rem;
  left: 100%;
  background: var(--default-dark-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms ease-in-out;
  padding: 1rem;
  border-radius: var(--default-button-border-radius);
  box-shadow: var(--default-box-shadow);

  & .rm-btn {
    font-size: 0.8rem;
  }
}

.rm48-standard-button:hover .rm48-weight-brackets,
.rm24-standard-button:hover .rm24-weight-brackets {
  opacity: 1;
  pointer-events: all;
}

.rm24-services-container,
.rm48-services-container {
  display: none;
}

.rm24-services-container.active,
.rm48-services-container.active {
  display: grid;
}

/*---COURIER RESULTS---*/

.courier-result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
  border-radius: var(--default-button-border-radius);
  height: 6rem;

  & h3 {
    color: rgba(255, 255, 255, 0.85);
  }
}

.courier-result {
  min-width: 30%;
  max-width: 30%;
  padding: 0.2rem 0.5rem;
  position: relative;
}

/*------------------THIRD PARTY CALCULATOR SECTION------------------*/

#third-party-price-calc-container {
  background: var(--default-dark-color);
  overflow: hidden;
}

#third-party-title-presets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  & h2 {
    margin-bottom: 0;
  }
}

#presets button {
  color: var(--default-light-color);
  background: var(--mid-blue-accent-color);
  width: 5rem;
  padding: 0.3rem;
  min-width: 0;
  margin: 0;

  &:hover {
    background: var(--hover-mid-blue-accent-color);
  }

  &:active {
    background: var(--mid-blue-accent-color);
  }
}

#third-party-fees-section {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#third-party-results-section p,
#results-info {
  padding: 0.4rem;
  border-radius: var(--default-button-border-radius);
}

#third-party-results-section p {
  background: rgba(184, 218, 225, 0.8);
  margin-bottom: 1rem;
  color: var(--default-dark-color);
  /*width: 10rem;*/

  &:first-child {
    background: none;
    color: var(--default-light-color);
    margin-bottom: 0.5rem;
    padding: 0;
  }
  &:nth-child(5) {
    background: rgba(108, 169, 182, 0.8);
    /*color: white;*/
    font-weight: 600;
  }

  & span {
    color: var(--default-dark-color);
  }
}

#input-and-result-grid {
  display: grid;
  /*justify-content: space-between;*/
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /*width: 50%;*/

  & div:first-child {
    grid-column: 1 / 3;
  }
}

.third-party-blocks {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.07);
  border-radius: var(--default-button-border-radius);
  padding: 0.5rem;
}

#results-info {
  color: var(--default-dark-color);
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: 600;
  opacity: 0;
}

#third-party-options-container {
  display: flex;
  align-items: end;
  font-size: 0.9rem;
  font-weight: 500;
  gap: 0.5rem;
}

#third-party-options-container label,
#third-party-options-container input {
  color: var(--default-light-color);
}

#fee-vat-container,
#trs-discount-container {
}

.third-party-option-btn.active {
  background: #5183a9;
}

/*----------------------TOOLS SECTION-------------------------------*/
#tools-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#vat-calc-container,
#percentage-calc-container {
  overflow: hidden;
  position: relative;
  background: var(--default-light-color);

  & h2 {
    color: var(--dark-blue-accent-color);
    margin-bottom: 0;
  }

  & label {
    color: var(--dark-blue-accent-color);
    margin-bottom: 0.5rem;
  }

  & input {
    background: #dcdcdc;
    padding: 0.1rem 0.2rem;
    color: var(--default-dark-color);
    height: fit-content;
  }

  & hr {
    background: var(--light-blue-accent-color);
    margin: 0.5rem 0;
  }
}

.tool-input {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: end;
}

.label-flex {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.tools-calc-button {
  background: #68b668;
  min-width: 0;

  &:hover {
    background: #71bd71;
  }

  &:active {
    background: #68b668;
  }
}

.tools-result {
  padding: 0.4rem;
  color: var(--dark-blue-accent-color);
  font-weight: 600;
  background: var(--light-blue-accent-color);
  margin-bottom: 0.4rem;
  border-radius: var(--default-button-border-radius);
  z-index: 2;
  opacity: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*------------------VAT CALCULATOR SECTION------------------*/

/*------------------PERCENT CALCULATOR SECTION------------------*/

/*------------------SETTINGS SECTION------------------*/
.info-section {
  position: absolute;
  display: none;
  border-radius: var(--default-container-border-radius);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
  top: calc(100% + 1rem);
  right: 0;
  background: #dcdcdc;
  height: var(--settings-height);
  z-index: 5;
  padding: 1rem;
  overflow-y: scroll;
}



.courier-price-section, .settings-section{
  width: 40%;
}

.ebay-table{
width: 100%;
}

.info-section.active {
  display: block;
}

.settings-section div {
  margin-bottom: 1rem;
}

.vat-input-box,
.trs-input-box {
  width: 5rem;
  /*height: fit-content;*/
  background: #bebebe;
  font-size: 1rem;
  text-align: center;
  color: var(--default-dark-color);
  font-weight: 600;
}

#accordion-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordion-header {
  color: var(--default-dark-color);
  background: #a8a8a8;
  font-weight: 600;
  padding: 1rem;
  border-radius: var(--default-container-border-radius);

  &:hover {
    cursor: pointer;
    background: #b9b9b9;
  }
}

.accordion-content {
  display: none;
  transition: 500ms ease-in-out;
  background: #ececec;

  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1rem;
  max-height: 40vh;
  border-radius: var(--default-container-border-radius);
}

.accordion-content.active {
  display: block;
}
.accordion-content h4,
.accordion-content ul {
  margin-bottom: 1rem;
}
.price-list li,
.surcharge-list li {
  list-style: inside;
  margin-bottom: 0.5rem;
}

.price-list li,
.surcharge-list li,
.price-list span,
.surcharge-list span,
.accordion-content h4,
.accordion-content ul,
.settings-section label {
  color: var(--default-dark-color);
}

.dpd-pricelist{
 margin-bottom: 1rem;

  & a{
    color: var(--mid-blue-accent-color);
    font-size: 1rem;
    font-weight: 600;
  }

}


/*------------------EBAY TABLE SECTION------------------*/

.ebay-table table {
  width: 100%;
  border-collapse: separate;
  margin-bottom: 2em;
  border-radius: 0.3em;
  border: 1px solid rgb(107, 107, 107);
}

.ebay-table th,
.ebay-table td {
  color: var(--default-dark-color);
  font-size: 0.95em;
  padding: 0.3em;
  /*border-left: 1px solid rgba(19, 19, 19, 0.66);*/
  /*border-top: 1px solid rgb(19, 19, 19);*/
}

.ebay-table th {
  border-top: none;
  font-weight: bold;
  font-size: 1.2em;
}

.ebay-table thead td {
  font-weight: 700;
  font-size: 1.1em;
  color: var(--default-dark-color);
}

.ebay-table td:first-child,
.ebay-table th:first-child {
  border-left: none;
}

.ebay-table table,
.ebay-table tr,
.ebay-table th,
.ebay-table td {
  color: var(--default-dark-color);
  background-color: rgba(255, 255, 255, 0.25);
}

.ebay-table thead {
  margin-bottom: 1em;

}

.ebay-table li {
  margin-bottom: 0.5em;
  margin-left: 2em;
  color: var(--default-dark-color);

  &:first-child{
    margin-top: 0.5em;
    font-size: 1em;
    color: var(--default-dark-color);
  }
}

.ebay-table p {
  margin-left: 0.5em;
  text-align: left;
  font-size: 1em;
  color: var(--default-dark-color);
}

.ebay-table strong{
  color: var(--default-dark-color);
}

@media screen and (max-width: 1800px) {
  /*main{*/
  /*  flex-direction:column;*/
  /*}*/

  #third-party-fees-section{
    flex-direction: column;
  }

  #input-and-result-grid {
    & div:first-child {
      grid-column: 1 / 2;
    }

    & div:last-child {
      grid-column: 2 / 4;
    }
  }

  #third-party-options-container {
    flex-direction: column;
    align-items: baseline;
  }
}